/*Main heading*/
h2{
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    border: 1px solid green;
}
/*Game background*/
#bg{
    float: right;
    position: relative;
    width: 65%;
    margin: 0 auto;
    height: 100vh;
    background-image:url(../Image/img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
/*Details*/
#aside{
    border: 3px solid black;
    border-top-left-radius: 28px;
    text-align:justify;
    position: relative;
    height: 100vh;
    width: 33%;
    padding-left: 4px;
}
#aside h3, #aside a{
    display: block;
    text-align: center;
}
#aside h3{
    font-family: monospace;
    font-size: 26px;
}
.info{
    overflow: hidden;
}
.info > img{
    float: left;
    display: inline-block; 
}
.info > span{
    display: inline-block;
    font-family:monospace;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 3px;
}
#numberp{
    font-family:serif;
    padding: 4px;
    font-size: 20px;
    margin: 8px 1px;
}
#play{
    display: none;
    position: relative;
    left: 35%;
    padding: 7px 5px;
    font-size: 20px;
    margin-bottom: 8px;

}
/* player to be shown*/
.player1{
    background-image:url(../Image/User/user1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.player1:hover{
    
}
.player2{
    background-image:url(../Image/User/user2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.player2:hover{
    
}
#dice1, #dice2, #dice3, #dice4, #dice5, #dice6{
    display: none;
}
#showcase{
    text-align: center;
    padding: 5px 1px;
}
#moving_dice{
    text-align: center;
    display: none;
}
#dice_pic{
    text-align: center;
}
#main_dice{
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
#turn{
    display: block;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
}
/* Position of div blocks*/
/* to calculate position in same row 86*n + 3px gap*/
/* to calculate position in same column 84*n+4px */
#b31{
    position: absolute;
    top:84px;
    left: 86px;
    min-height: 84px;
    width: 86px;
    
}
#b32{
    position: absolute;
    top:84px;
    left: 175px;
    min-height: 84px;
    width: 86px;
}
#b33{
    position: absolute;
    top:84px;
    left: 261px;
    min-height: 84px;
    width: 86px;
}
#b34{
    position: absolute;
    top:84px;
    left: 350px;
    min-height: 84px;
    width: 86px;
}
#b35{
    position: absolute;
    top:84px;
    left: 440px;
    min-height: 84px;
    width: 86px;
}
#b36{
    position: absolute;
    top:84px;
    left: 529px;
    min-height: 84px;
    width: 86px;
}
#b25{
    position: absolute;
    top:172px;
    left: 86px;
    min-height: 84px;
    width: 86px;
}
#b26{
    position: absolute;
    top:172px;
    left: 175px;
    min-height: 84px;
    width: 86px;
}
#b27{
    position: absolute;
    top:172px;
    left: 261px;
    min-height: 84px;
    width: 86px;
}
#b28{
    position: absolute;
    top:172px;
    left: 350px;
    min-height: 84px;
    width: 86px;
}
#b29{
    position: absolute;
    top:172px;
    left: 440px;
    min-height: 84px;
    width: 86px;
}
#b30{
    position: absolute;
    top:172px;
    left: 529px;
    min-height: 84px;
    width: 86px;
}
#b19{
    position: absolute;
    top:260px;
    left: 86px;
    min-height: 84px;
    width: 86px;
}
#b20{
    position: absolute;
    top:260px;
    left: 175px;
    min-height: 84px;
    width: 86px;
}
#b21{
    position: absolute;
    top:260px;
    left: 261px;
    min-height: 84px;
    width: 86px;
}
#b22{
    position: absolute;
    top:260px;
    left: 350px;
    min-height: 84px;
    width: 86px;
}
#b23{
    position: absolute;
    top:260px;
    left: 440px;
    min-height: 84px;
    width: 86px;
}
#b24{
    position: absolute;
    top:260px;
    left: 529px;
    min-height: 84px;
    width: 86px;
}
#b13{
    position: absolute;
    top:348px;
    left: 86px;
    min-height: 84px;
    width: 86px;
}
#b14{
    position: absolute;
    top:348px;
    left: 175px;
    min-height: 84px;
    width: 86px;
}
#b15{
    position: absolute;
    top:348px;
    left: 261px;
    min-height: 84px;
    width: 86px;
}
#b16{
    position: absolute;
    top:348px;
    left: 350px;
    min-height: 84px;
    width: 86px;
}
#b17{
    position: absolute;
    top:348px;
    left: 440px;
    min-height: 84px;
    width: 86px;
}
#b18{
    position: absolute;
    top:348px;
    left: 529px;
    min-height: 84px;
    width: 86px;
}
#b12{
    position: absolute;
    top:436px;
    left: 86px;
    min-height: 84px;
    width: 86px;
}
#b11{
    position: absolute;
    top:436px;
    left: 175px;
    min-height: 84px;
    width: 86px;
}
#b10{
    position: absolute;
    top:436px;
    left: 261px;
    min-height: 84px;
    width: 86px;
}
#b9{
    position: absolute;
    top:436px;
    left: 350px;
    min-height: 84px;
    width: 86px;
}
#b8{
    position: absolute;
    top:436px;
    left: 440px;
    min-height: 84px;
    width: 86px;
}
#b7{
    position: absolute;
    top:436px;
    left: 529px;
    min-height: 84px;
    width: 86px;
}
#b1{
    position: absolute;
    top:524px;
    left: 86px;
    min-height: 84px;
    width: 86px;
}
#b2{
    position: absolute;
    top:524px;
    left: 175px;
    min-height: 84px;
    width: 86px;
}
#b3{
    position: absolute;
    top:524px;
    left: 261px;
    min-height: 84px;
    width: 86px;
}
#b4{
    position: absolute;
    top:524px;
    left: 350px;
    min-height: 84px;
    width: 86px;
}
#b5{
    position: absolute;
    top:524px;
    left: 440px;
    min-height: 84px;
    width: 86px;
}
#b6{
    position: absolute;
    top:524px;
    left: 529px;
    min-height: 84px;
    width: 86px;    
}
.playhov{
    
}
